<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BANCO DE HORAS</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/fontawesome/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/template/adminlte.min.css">
   <!-- Estilos customizados para o tema dark -->
   <style>
    /* Adicionado para definir a cor da barra superior e do rodapé */
    .main-header, .main-footer {
      background-color: #343a40 !important; /* Defina a cor desejada */
    }

    /* Adicionado para ajustar a cor da barra lateral */
    .main-sidebar {
      background-color:  #343a40 !important; /* Mantenha a cor da barra lateral */
    }

    /* Adicionado para corrigir a cor do rodapé (footer) */
    .content-wrapper {
      background-color: #2c3b41; /* Cor de fundo da página principal */
      padding-top: 20px; /* Ajuste de margem superior */
    }

    /* Adicionado para corrigir a cor do rodapé (footer) */
    .card {
      background-color: #2c3b41; /* Cor de fundo dos cards */
    }

    /* Adicionado para corrigir a cor do rodapé (footer) */
    .card-body {
      background-color: #ffffff; /* Cor de fundo do conteúdo dentro do card */
    }
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed dark-mode">
<!--<body class="hold-transition sidebar-mini layout-fixed">-->
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a style="text-align: center;" href="/" class="brand-link">
      <span  class="brand-text font-weight-light">BANCO DE HORAS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block"></a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Início
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/usuarios/cadastrar" class="nav-link">
              <i class="fas fa-user-plus"></i>
              <p>
                Cadastrar Horas
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/usuarios/implantacoes" class="nav-link">
              <i class="fas fa-user-plus"></i>
              <p>
                Cadastrar Implantações
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/usuarios" class="nav-link">
              <i class="fas fa-chart-bar"></i>
              <p>
                Horas e Implantações
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div style="background-colorr: rgb(255, 255, 255);" class="content-wrapper">
    <!-- /.content -->
    <div style="margin:20px;" class="card card-body">
        <%- body %>
    </div>
    
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2024 Mateus Chichera</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/template/adminlte.min.js"></script>
</body>
</html>







