<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Banco de Horas | Log in (v1)</title>
  

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/fontawesome/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/template/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center" style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/logosemfundo.png" alt="Logo Infomaster" style="width: 150px; margin-bottom: 10px;">
      <!--<a href="#" class="h1"><b>Banco de Horas</b></a>!-->
    </div>    
    <div class="card-body">
      <!--<p class="login-box-msg">Utilize o formulário para entrar no sistema</p>!-->

      <div id="msgRetorno">

      </div>
      <div>
        <div class="input-group mb-3">
          <input type="email" name="email" id="email" class="form-control" placeholder="Nome">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <button type="button" id="btnEntrar" class="btn btn-primary btn-block">Entrar</button>
          </div>
          <!-- /.col -->
        </div>
      </div>

      <!-- /.social-auth-links -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/js/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/template/adminlte.min.js"></script>
<script src="/js/Login/index.js"></script>
</body>
</html>