<script src="/js/Usuario/listar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<div>
    <h1>Horas</h1>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="usuario">Usuario:</label>
            <select class="form-control" id="usuario">
                <option value="0">--Selecione--</option>
                <option value="1">Mateus</option>
                <option value="2">Guilherme Leite</option>
                <option value="3">Vinicius</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="dia">Data Inicio:</label>
            <input class="form-control" type="date" id="dia" />
        </div>
        <div class="form-group col-md-4">
            <label for="dia2">Data Fim:</label>
            <input class="form-control" type="date" id="dia2" />
        </div>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <a id="pesquisarBtn" class="btn btn-primary">Pesquisar</a>
    </div>
    <div class="table-responsive">
        <table class="table table-stripped">
            <thead>
                <th>Entrada</th>
                <th>Cafe</th>
                <th>Cafe</th>
                <th>Almoco</th>
                <th>Almoco</th>
                <th>Cafe</th>
                <th>Cafe</th>
                <th>Saida</th>
            </thead>
            <tbody></tbody> <!-- Adicionado o elemento tbody -->
        </table>
        <div class="d-flex justify-content-end mb-3">
            <button id="exportarExcelBtn" class="btn btn-success">Exportar para Excel</button>
        </div>
    </div>
</div>
